body{
	font-family: Arial, Serif;
	color: #fff;
	text-align: center;
	background-image: url("Images/Planet.jpg");
    background-attachment: fixed;
    background-position: center;
}

header{
	text-align: center;
}

nav {
	background-color: #fff;
	padding: 5px;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
	font-size: 20px;
	
}

li a:link, li a:hover, li a:active, li a:visited {
	text-decoration: none;
	color: #000;
}

li a:hover {
	text-decoration: underline;
	font-weight: bold;
}

article {
    width: 100%; 
   text-align: center;
    margin: auto;
}

article img {
    max-width: 60%;
   text-align: center;
}

h2 a:link, li a:hover, li a:active, li a:visited {
	text-decoration: none;
	color: #000;

}

h2 a:hover {
	text-decoration: underline;
	font-weight: bold;
}

main {
	text-align: center;
}
